/**************************
Aarón Orozco Fernández - UO281997
Hoja de estilo donde se añade color, fuentes y estilo a los diferentes componentes del sitio web
**************************/
/*Especificidad 001*/
body{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}


form{
  display: grid;
  grid-template-columns: 5em 5em 5em 5em 5em;
  font-family: Tahoma, sans-serif;
  color: #000000;
  background-color: rgb(101, 232, 255);
  grid-gap: 1em;
  padding: 1em;
  border: 1em;
}

/*Especificidad 001*/
h2{
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 2;
}

/*Especificidad 021*/
input[type="text"][name="operaciones"]{
  color: #000000;
  background-color: rgb(255, 255, 255);
  width: 100%;
  padding: 1em 0;
}

/*Especificidad 001*/
label{
  color: #000000;
  background-color: rgb(101, 232, 255);
  font-size: large;
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 2;
  grid-row-end: 3;
}

/*Especificidad 021*/
input[type="submit"][name="suma"]{
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 6;
  grid-row-end: 8;
}

/*Especificidad 001*/
input{
  padding: 1em;
}

/*Especificidad 011*/
input[type="button"]{
  
  color: #000000;
  background-color: rgb(255, 255, 255);
  padding: 1em;
}
